.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  color: #eb5757;
}

.button-secondary {
  background-color: #EB5757;
  color: #ffff;
  border-radius: 16px;
  padding: 12px 30px 12px 30px;
  display: flex;
  border: none;
  cursor: pointer;
  align-items: center;
  box-sizing: content-box;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.button-secondary span {
  padding-right: 10px;
}
