form {
  display: flex;
  flex-direction: row;
}

.form-filter {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-right: 210px;
  width: 297px;
}

.form-filter-secondary { 
  width: 1200px;
  height: 55px;
  margin: 50px auto 0 auto;
}

.form-filter-secondary input {
  width: 400px;
  height: 55px;
  text-align: start;
  padding: 24px 26px 10px 26px;
}

@media only screen and (max-width: 600px) {
  .form-filter-secondary form button {
    bottom: 30%;
  }
}

@media only screen and (max-width: 1100px) {
  .form-filter {
    margin: auto;
    margin-top: 30px;
  }

  .form-filter-secondary {
    display: flex;
    width: 30%;
    justify-content: center;
  }

  .form-filter-secondary form {
    height: 600px;
    flex-direction: column;
    height: 100px;
  }

  .form-filter-secondary form input {
    width: 350px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 16px;
  }

  .form-filter-secondary form button {
    position: absolute;
    bottom: 40%;
    left: 45%;
  }

  .form-filter-secondary form input[name='guests'] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .form-filter-secondary form input:focus {
    border-radius: 16px;
  }
}
