.container-list-location {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul li {
  font-family: 'Mulish', sans-serif;
  color: #4f4f4f;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul li span {
  padding-right: 10px;
}
