.container-stays {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-stays > div {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 50px;
}

@media only screen and (max-width: 768px) {
  .container-stays > div { 
    padding: 0;
    width: auto;
  }
}

@media only screen and (max-width: 425px) {
  .container-stays > div { 
    padding: 0;
    justify-content: center;
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .container-stays > div { 
    padding: 0;
    justify-content: center;
    width: auto;
  }
}

@media only screen and (max-width: 1440px) {
  .container-stays > div { 
    padding: 0;
    justify-content: center;
    width: auto;
  }
}