.container-stays {
  margin-left: 210px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 49px 30px;
}

@media only screen and (max-width: 768px) {
  .container-stays {
    margin-left: auto;
    justify-content: center;
    gap: 49px 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container-stays {
    margin-left: auto;
    justify-content: center;
    gap: 32px 0;
  }
}
