.card-stays {
  width: 350px;
  margin: 30px;
}

.img-stay {
  border-radius: 24px;
}

.header-stay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-stay div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.super-host-stay {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  padding: 7px 9px 7px 9px;
  margin-right: 11px;
}

.type-stay,
.rating-stay {
  color: #828282;
  font-size: 14px;
  line-height: 17px;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.star {
  color: #eb5757;
  padding-right: 7px;
}

.title-stay {
  max-width: 330px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .card-stays {
    width: 310px;
    margin-bottom: 10px;
  }

  .img-stay {
    width: 310px;
    height: 210px;
  }

  .type-stay,
  .rating-stay {
    font-size: 11px;
  }

  .super-host-stay {
    font-size: 9px;
  }

  .title-stay { 
    font-size: 13px;
  }
}

@media only screen and (max-width: 425px) {
  .card-stays {
    width: 350px;
    margin: 10px;
  }

  .img-stay {
    width: 350px;
    height: 238.35px;
  }
  
  .type-stay,
  .rating-stay {
    font-size: 12px;
  }

  .super-host-stay {
    font-size: 10px;
  }

  .title-stay { 
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  .card-stays {
    width: 300px;
  }

  .img-stay {
    width: 300px;
    height: 200px;
  }
  
  .type-stay,
  .rating-stay {
    font-size: 10px;
  }

  .super-host-stay {
    font-size: 8px;
  }

  .title-stay { 
    font-size: 12px;
  }
}